<!DOCTYPE html>
<html ng-app="miApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/angular.min.js"></script>
	<style>
		.alerta{
			width: 400px;
			height: 200px;
			line-height: 200px;
			text-align: center;
			font-family: monospace;
			color: #fff;
			background: #000;
			font-size: 22px;
		}
	</style>
</head>
<body>
	<div ng-controller="controlador1">
		<img ng-src="{{imagenActual}}">
		<br>
		<button ng-click="mostrarImagen('images/imagen1.png')">Imagen 1</button>
		<button ng-click="mostrarImagen('images/imagen2.png')">Imagen 2</button>
	</div>

	<script>
		var miApp=angular.module('miApp',[]);
		miApp.controller('controlador1',['$scope',function($scope){
			
			$scope.imagenActual='images/imagen1.png';

			$scope.mostrarImagen=function(_imagen){
				$scope.imagenActual=_imagen;
			};

		}]);
	</script>
</body>
</html>