<!DOCTYPE html>
<html ng-app="miApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/angular.min.js"></script>
</head>
<body>
	<div ng-controller="controlador1">
		<h1>Agenda Telefonica</h1>
		<label>Buscar</label>
		<input type="search" ng-model="busqueda">
		<!-- se filtran los caracteres segun el campo de busqueda -->
		<!-- ya sea por nombre o por telefono -->
		<p ng-repeat="entrada in agenda | filter:busqueda">
			{{ entrada.nombre }} : {{ entrada.telefono }}
		</p>
	</div>

	<script>
		var miApp=angular.module('miApp',[]);
		miApp.controller('controlador1',['$scope',function($scope){
			$scope.agenda=[
				{nombre:'Juan', telefono:'2-784585'},
				{nombre:'Ana', telefono:'2-985745'},
				{nombre:'Maria', telefono:'2-521445'},
				{nombre:'Jose', telefono:'2-996855'},
				{nombre:'Marcos', telefono:'2-854744'},
				{nombre:'Lucas', telefono:'2-1152585'},
			];
		}]);
	</script>
</body>
</html>